* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: grey;
}

h1 {
  font-family: "Press Start 2P", cursive;
  font-size: 3rem;
  text-align: center;
  margin-top: 60px;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.info-text {
  margin-top: 100px;
  font-family: "Press Start 2P", cursive;
  font-size: 28px;
  text-align: center;
}

.score-container {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}

.score {
  font-family: "Press Start 2P", cursive;
  font-size: 36px;
}

.score-text {
  font-family: "Press Start 2P", cursive;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 20px;
}

.btn {
  font-family: "Press Start 2P", cursive;
  padding: 20px 30px;
  border: 0px;
  background-color: lawngreen;
}

:hover .btn {
  cursor: pointer;
}

.results-container {
  margin-top: 40px;
  font-family: "Press Start 2P", cursive;
  text-align: center;
}
